<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1、加载外部文件-->
    <properties resource="jdbc.properties"/>

    <!--2、给映射实体起别名-->
    <typeAliases>
        <!--<typeAlias type="com.zcl.domain.Account" alias="account"></typeAlias>-->
        <package name="com.zcl.domain"/>
    </typeAliases>

    <!--3、配置数据库源-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--4、加载映射-->
    <mappers>
        <!--<mapper resource="com/zcl/mapper/AccountMapper.xml"/>-->
        <!--包扫描-->
        <package name="com.zcl.mapper"/>
    </mappers>
</configuration>